<footer class="image-bg-6 overlay-black-dense padding-top-bottom-150px">


  <!-- Row -->
  <div class="row">

    <div class="container sm-container-spread">

      <!-- Column -->
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">

        <!-- Text -->
        <h6 class="margin-bottom-25px"><a href="#"
            class="roboto text-extra-large text-gray-light margin-right-10px text-weight-600"><span
              data-uk-icon="icon: mail; ratio: 2" class="margin-right-10px uk-icon"><svg width="40" height="40"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="mail">
                <polyline fill="none" stroke="#000" points="1.4,6.5 10,11 18.6,6.5"></polyline>
                <path d="M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z"></path>
              </svg></span> raymond.lotusexotica2020@gmail.com</a></h6>
        <h6 class="margin-bottom-25px"><a href="#"
            class="roboto text-extra-large text-gray-light margin-right-10px text-weight-600"><span
              data-uk-icon="icon: location; ratio: 2" class="margin-right-10px uk-icon"><svg width="40" height="40"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="location">
                <path fill="none" stroke="#000" stroke-width="1.01"
                  d="M10,0.5 C6.41,0.5 3.5,3.39 3.5,6.98 C3.5,11.83 10,19 10,19 C10,19 16.5,11.83 16.5,6.98 C16.5,3.39 13.59,0.5 10,0.5 L10,0.5 Z">
                </path>
                <circle fill="none" stroke="#000" cx="10" cy="6.8" r="2.3"></circle>
              </svg></span>
              The Raymond Shop SCO: 203, Amartex Rd, Sector 14, Panchkula, Haryana 134109
              </a></h6>
        <h6 class="margin-bottom-25px"><a href="#"
            class="roboto text-extra-large text-gray-light margin-right-10px text-weight-600"><span
              data-uk-icon="icon: receiver; ratio: 2" class="margin-right-10px uk-icon"><svg width="40" height="40"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="receiver">
                <path fill="none" stroke="#000" stroke-width="1.01"
                  d="M6.189,13.611C8.134,15.525 11.097,18.239 13.867,18.257C16.47,18.275 18.2,16.241 18.2,16.241L14.509,12.551L11.539,13.639L6.189,8.29L7.313,5.355L3.76,1.8C3.76,1.8 1.732,3.537 1.7,6.092C1.667,8.809 4.347,11.738 6.189,13.611">
                </path>
              </svg></span> +1 923 235 2335</a></h6>

        <!-- Links -->
        <a class="text-small text-weight-400 text-gray-regular right-border border-1 border-color-regular-gray padding-right-10px"
          href="#">Terms &amp; Conditions</a>
        <a class="text-small text-weight-400 text-gray-regular padding-left-10px" href="#">Privacy Policy</a>

        <!-- Separator -->
        <div
          class="separator width-50 bottom-border border-1px border-color-gray-extra-dark margin-top-bottom-25px center-col">
        </div>

        <!-- Social Links for Footer -->
        <ul class="list-unstyled margin-top-25px no-margin-bottom text-center">

          <li class="display-inline-block margin-right-25px"><a class="text-medium text-weight-700" href="https://www.facebook.com/Raymonds-Panchkula-114990756952043/?modal=admin_todo_tour">
            <i class="fab fa-facebook facebook fa-2x"></i>
          </a></li>
          <li class="display-inline-block margin-right-25px"><a class="text-medium text-weight-700" href="https://www.instagram.com/p/CC3OJQQnCDz/?igshid=1d7upb437uvr1">
            <i class="fab fa-instagram instagram fa-2x"></i>
  <!-- <i class="fab fa-instagram instagram fa-2x"></i> --></a></li>

        </ul>
        <!-- End Social Links for Footer -->

      </div>
      <!-- End Column -->

    </div>

  </div>
  <!-- End Row -->

</footer>
