<nav class="navbar navbar-expand-lg navbar-light bg-white pt-3 pb-3">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="./overview.html">
      Shopper.
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler border-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fal fa-bars"></i>
    </button>

    <!-- Collapse -->
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">

      <!-- Nav -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link"  href="#">Home</a>




        </li>
        <li class="nav-item dropdown position-static">

          <!-- Toggle -->
          <a class="nav-link"  href="#">Catalog</a>



        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link"  href="#">Shop</a>


        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link"  href="#">Pages</a>




        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link"  href="#">Blog</a>

          <!-- Menu -->


        </li>
        <li class="nav-item">
          <a class="nav-link" href="docs/getting-started.html">Docs</a>
        </li>
      </ul>



    </div>

  </div>
</nav>




<div id="categories" class="bg-black">

  <!-- Gallery  Grid -->
  <div class="uk-child-width-1-1@s uk-child-width-1-3@m uk-child-width-1-3@l uk-text-center uk-grid-collapse uk-grid" data-uk-grid="">


    <!-- Category Content -->
    <div class="images uk-first-column" data-uk-lightbox="animation: fade">

      <div class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">

        <!-- Image -->
        <img src="../../../assets/images/02.jpg" alt="">

        <!-- Hover -->
        <div class="uk-position-left uk-overlay-primary-dark text-center width-100">

          <!-- Hover Container -->
          <div class="margin-left-fifteen-percent margin-right-fifteen-percent">

            <!-- Top Content -->
            <div class="uk-position-center">

              <h4 class="text-weight-700 text-gray-light title-medium">Men.</h4>
              <a class="btn btn-small btn-transparent-white sm-display-table sm-margin-left-right-auto xs-no-margin-bottom" href="#">Start Shopping</a>
            </div>
            <!-- End Top Content -->


          </div>
          <!-- End Hover Container -->

        </div>
        <!-- End Hover -->

      </div>

    </div>
    <!-- End Category Content -->


    <!-- Category Content -->
    <div class="images" data-uk-lightbox="animation: fade">

      <div class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">

        <!-- Image -->
        <img src="../../../assets/images/01.jpg" alt="">

        <!-- Hover -->
        <div class="uk-overlay-primary-dark uk-position-left text-center width-100">

            <!-- Top Content -->
            <div class="uk-position-center">

              <h4 class="text-weight-700 text-gray-light title-medium">Women.</h4>
              <a class="btn btn-small btn-white sm-display-table sm-margin-left-right-auto xs-no-margin-bottom" href="#">Start Shopping</a>
            </div>
            <!-- End Top Content -->


          </div>
          <!-- End Hover Container -->

        </div>
        <!-- End Hover -->


    </div>
    <!-- End Category Content -->


    <!-- Category Content -->
    <div class="images" data-uk-lightbox="animation: fade">

      <div class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">

        <!-- Image -->
        <img src="../../../assets/images/03.jpg" alt="">

        <!-- Hover -->
        <div class="uk-position-left uk-overlay-primary-dark text-center width-100">

          <!-- Hover Container -->
          <div class="margin-left-fifteen-percent margin-right-fifteen-percent">

            <!-- Top Content -->
            <div class="uk-position-center">

              <h4 class="text-weight-700 text-gray-light title-medium">Kids.</h4>
              <a class="btn btn-small btn-transparent-white sm-display-table sm-margin-left-right-auto xs-no-margin-bottom" href="#">Start Shopping</a>
            </div>
            <!-- End Top Content -->


          </div>
          <!-- End Hover Container -->

        </div>
        <!-- End Hover -->

      </div>

    </div>
    <!-- End Category Content -->

  </div>
  <!-- End Gallery  Grid -->

</div>
