<div class="container-fluid">
  <div class="row">
    <div class="col-12  bg text-center text-white padding-top-bottom-150px">
      <h1 class="text-white">Contact Us</h1>
      <p class="text-white">Raymond SCO: 203, Amartex Rd, Sector 14, Panchkula, Haryana 134109
      </p>
      <p class="text-white">To share a feedback or grievenace, submit a ticket below or write to us at consumercarecell@raymond.in. We will
        get in touch shortly.
      </p>
    </div>

  </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3431.232953910557!2d76.84429381513036!3d30.683721081654248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f930ddf3f9e51%3A0x2d4b3201360fae0a!2sRaymond!5e0!3m2!1sen!2sin!4v1594662860426!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
