<div class="container-fluid">
  <div class="row">
    <div class="col-12  bg text-center text-white padding-top-bottom-150px">
      <h1 class="text-white">Contact Us</h1>
      <p class="text-white">Raymond Limited, New Hind House, Narottam Morarjee Marg, Ballard Estate, Mumbai – 400 001
      </p>
      <p class="text-white">To share a feedback or grievenace, submit a ticket below or write to us at consumercarecell@raymond.in. We will
        get in touch shortly.
      </p>
    </div>

  </div>
</div>
