<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <div class="video-parent-section hero hero--450px">
        <div class="hero__media-container">
          <video id="Mp4Video-1567095842755" src="../../../assets/images/vide.mp4" loop="" muted="" playsinline=""
            autoplay=""></video>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5 text-justify">
      <h4 class="text-uppercase font-wt-300"> About The Raymond Shop, Panchkula
      </h4>
      <p>The Raymond Shop is a men's clothing retails store located in Panchkula and offers a complete solution to a men’s
        wardrobe from fabric to readymade garments to custom-tailoring. For over nine decades brand continues to be one
        of the leading premium fashion destination in India aspired by all generations. The Raymond Shop is a one-stop
        destination for men’s fashion lifestyle. You can shop from an extensive men’s range from formal to ceremonial
        and social to casual collections. With a dedicated section for accessories, one can choose from a wide
        collection of ties, belts, bows, cuff links and pocket squares and much more to complete the look.</p>

      <h4>Designs Offered </h4>
      <p>The Raymond Shop offers a wide array of fashion clothing options in suits, jackets, shirts and trousers for
        discerning customers through an exquisite range of Raymond's fine fabrics along with ready to wear apparel,
        accessories and custom tailoring services. With more than 1000 stores, it is the largest one-stop fashion
        lifestyle destination in the country. They produce 20,000 designs for suiting and clothing, and you can find
        anything for your friends and family as well.</p>
      <p class="mb-5">The Raymond Shop’s retail network constantly sets new benchmarks in the industry and strives to create an
        environment that makes shopping a pleasurable experience with Raymond stores delivering finest quality fabrics
        and In-trend readymade collection since its inception. The main motto of the brand is to promote 'The Complete
        Man' that promotes a caring and sensitive man.</p>

        <iframe src="https://www.youtube.com/embed/_fSLwsny8uM" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>
</div>

