<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <div class="video-parent-section hero hero--450px">
        <div class="hero__media-container">
          <video id="Mp4Video-1567095842755"
            src="../../../assets/images/vide.mp4" loop="" muted=""
            playsinline="" autoplay=""></video>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <h4 class="text-uppercase font-wt-300">about the company</h4>
      <p> Mizaj is a bespoke tailor shop created in 2008 with a intention to
        create love, passion and artistry back to
        tailoring. We do this by inhibiting accurate, original, time-tested
        processes of making menswear. We don’t do
        this out of mere business interest as we strongly believe that these
        approaches still deliver the best and
        promising fit and beauty to men’s garments. </p>
      <p>This means we hand-make our products with craftsmen who are passionate
        and committed to their skills,
        individuals who love what they do. We’re also very meticulous in picking
        every process tangled in our creative
        process and curating every material that we use in order to deliver a
        result with both a solid construction and
        a stunning fit.</p>
      <p>Each product is given full care and attention since we highly respect
        every tailor-made item we produce. Our
        end product is top-notch, and we can bigheadedly say that we are the
        best in the business because we give care
        and detailed attention in all aspects of our operations.</p>

      <div class="mission mt-4"> <h4 class="text-uppercase font-wt-300">our
          mission</h4> <p> Mizaj took pride in providing consumers with the
          finest clothing experience by inhabiting original methods. We are
          committed to high-quality products, employee care, limitations within
          the industry, and art, design and technology. </p></div>

    </div>

  </div>
</div>
